body {
  background-color: rgb(43, 43, 43);
  overscroll-behavior: none;
}

* {
  color: white;
  font-family: "Montserrat", sans-serif;
}

#wrapper {
  width: 50%;
  background-color: rgb(29, 29, 29);
  height: full;

  border-radius: 15px;
}

div#wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 25%;
  /*padding: 0;*/

  margin-bottom: 1%;
}

#header {
  margin: 3%;

  padding: 0;
  height: 200px;

  border-radius: 15px;
  background-color: rgb(43, 43, 43);

  overflow: hidden;

  display: flex;
}

#header-pfp {
  border-radius: 50%;
  scale: 50%;
  display: inline-block;
}

#header-about {
  transform: translateY(35%);
}

#header-hello {
  font-size: 36px;
}

#articles {
  display: block;
}

#articles > * {
  margin-top: 10px;

  position: relative;
  left: 25%;

  height: 160px;
  width: 50%;

  background-color: rgb(29, 29, 29);
  border-radius: 15px;
}

.article > h1 {
  position: relative;
  top: 10%;
  left: 3%;
}

.article > div {
  position: relative;
  top: 1%;
  left: 3%;
}

.article > a {
  font-size: 20px;
  position: relative;
  top: 35px;
  left: 3%;
}

/* 404.html */
#article-header-main {
  display: inline-block;
  margin-left: 20px;
}

#article-header {
  margin-bottom: 5px;
}

#article-header-metadata {
  display: inline-flex;
  gap: 10px;
}

.divider {
  margin: 20px;
}

#article-members {
  display: block;
}

#article-members > * {
  margin-left: 20px;
  margin-top: 5px;
}
